@page "/"

@using UserSpying.Client.HttpRepository.Users
@using UserSpying.Client.Models
@using UserSpying.Client.Shared.Components
@using UserSpying.Client.Shared.Dialogs
@using UserSpying.Shared.Models
@using UserSpying.Client.HttpRepository.Genders
@using Gender = UserSpying.Shared.Models.Gender

@inject IUsers UsersHttpRepository
@inject IGender GendersHttpRepository
@inject IDialogService DialogService

<MudGrid>
    <MudItem xs="12" Class="px-8 pt-5">
        <MudTable Items="@CustomUsers" Dense="true" Hover="true" ReadOnly="false" CanCancelEdit="true" Filter="new Func<CustomUser,bool>(FilterFunc)"
                  SortLabel="Sort By" CommitEditTooltip="Commit Edit" RowEditPreview="BackupItem" RowEditCancel="ResetItemToOriginalValues"
                  IsEditRowSwitchingBlocked="true" ApplyButtonPosition="TableApplyButtonPosition.End" OnCommitEditClick="ItemHasBeenCommitted"
                  EditButtonPosition="TableEditButtonPosition.End" EditTrigger="TableEditTrigger.RowClick" HeaderClass="customHeader" RowClass="customRow">
            <ToolBarContent>
                <MudButton Class="mr-2" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.PersonAddAlt" Color="Color.Inherit" Size="Size.Small" OnClick="OpenDialog">Dodaj użytkownika</MudButton>
                <MudSpacer />
                <MudTextField @bind-Value="searchString" Placeholder="Wyszukaj" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh></MudTh>
                <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<User, object>(x => x.FirstName)">Imię</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<User, object>(x => x.LastName)">Nazwisko</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<User, object>(x => x.DateOfBirth)">Data urodzenia</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<User, object>(x => x.Gender.Name)">Płeć</MudTableSortLabel></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>
                    <MudToggleIconButton @bind-Toggled="@context.ShowDetails"
                                         Icon="@Icons.Material.Filled.Visibility" Size="Size.Small" Color="@Color.Inherit" Title="Pokaż szczegóły"
                                         ToggledIcon="@Icons.Material.Filled.VisibilityOff" ToggledSize="Size.Small" ToggledColor="@Color.Inherit" ToggledTitle="Ukryj szczegóły" />
                </MudTd>
                <MudTd DataLabel="Imię">@context.FirstName</MudTd>
                <MudTd DataLabel="Nazwisko">@context.LastName</MudTd>
                <MudTd DataLabel="Data urodzenia">@context.DateOfBirth</MudTd>
                <MudTd DataLabel="Płeć">@context.Gender.Name</MudTd>
            </RowTemplate>
            <RowEditingTemplate>
                <MudTd></MudTd>
                <MudTd DataLabel="Sign">
                    <MudTextField @bind-Value="@context.FirstName" Required/>
                </MudTd>
                <MudTd DataLabel="Name">
                    <MudTextField @bind-Value="@context.LastName" Required/>
                </MudTd>
                <MudTd DataLabel="Position">
                     <MudDatePicker Label="Data urodzenia" @bind-Date="@context.DateOfBirth" Variant="Variant.Text" Required RequiredError="Musisz podać datę urodzenia"
                                    Validation="@((DateTime? date) => date < DateTime.Now)" ErrorText="Użytkownik pochodzi z przyszłości? Podaj poprawną datę"></MudDatePicker>
                </MudTd>
                <MudTd DataLabel="Molar mass">
                    <MudTextField @bind-Value="@context.Gender.Name" Required/>
                </MudTd>
            </RowEditingTemplate>
            <EditButtonContent Context="button">
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
            </EditButtonContent>
            <ChildRowContent>
                @if (context.ShowDetails)
                {
                    <MudTr>
                        <td colspan="6">
                            <MudCard Elevation="0">
                                <MudCardHeader>
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.body2">Dodatkowe pola użytkownika <strong>@context.FirstName @context.LastName</strong></MudText>
                                    </CardHeaderContent>
                                </MudCardHeader>
                                <MudCardContent Class="pa-0">
                                    <DetailTable CustomFields="@context.CustomFields.ToList()" />
                                </MudCardContent>
                            </MudCard>
                        </td>
                    </MudTr>
                }
            </ChildRowContent>
         </MudTable>
    </MudItem>
</MudGrid>

<style>
    .customHeader {
        background-color: #4e8074 !important;
        #4e8074
    }

    .customRow {
        background-color: #68baa6 !important;
    }

    .mud-table-root .mud-table-head .mud-table-cell{
        color: #fff;
    }
    </style>

@code {
    List<CustomUser> CustomUsers = new List<CustomUser>();
    List<Gender>? Genders = new List<Gender>();
    private string searchString = "";
    private CustomUser customUserBeforeEdit;
    private int? currentlyEditingUser;

    protected override async Task OnInitializedAsync()
    {
        var userResponse = await UsersHttpRepository.GetUsersAsync();
        CustomUsers = userResponse.Data.ToList() ?? new List<CustomUser>();

        var genderResponse = await GendersHttpRepository.GetGenders();
        Genders = genderResponse.Data.ToList() ?? new List<Gender>();
    }

    private void BackupItem(object customUser)
    {
        customUserBeforeEdit = new()
        {
            FirstName = ((CustomUser)customUser).FirstName,
            LastName = ((CustomUser)customUser).LastName,
            DateOfBirth = ((CustomUser)customUser).DateOfBirth,
            Gender = ((CustomUser)customUser).Gender
        };

        currentlyEditingUser = ((CustomUser)customUser).Id;
    }

    private async Task ItemHasBeenCommitted(object customUser)
    {
        // TODO: Rozgryźć jak wywołać tu asynchroniczną metodę
        CustomUser currentEditUser = CustomUsers.First(u => u.Id == currentlyEditingUser);
        UpsertUser upsertUser = new UpsertUser()
        {
            FirstName = currentEditUser.FirstName,
            LastName = currentEditUser.LastName,
            DateOfBirth = currentEditUser.DateOfBirth,
            GenderId = currentEditUser.GenderId
        };

        Response<int?> response = await UsersHttpRepository.UpdateUserAsync((int)currentlyEditingUser, upsertUser);
    }

    private void ResetItemToOriginalValues(object customUser)
    {
        ((CustomUser)customUser).FirstName = customUserBeforeEdit.FirstName;
        ((CustomUser)customUser).LastName = customUserBeforeEdit.LastName;
        ((CustomUser)customUser).DateOfBirth = customUserBeforeEdit.DateOfBirth;
        ((CustomUser)customUser).Gender.Name = customUserBeforeEdit.Gender.Name;

        currentlyEditingUser = null;
    }

    private bool FilterFunc(CustomUser customUser)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (customUser.FirstName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (customUser.LastName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (customUser.Gender.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    private void OpenDialog()
    {
        var options = new DialogOptions
        {
            FullWidth = true,
            MaxWidth = MaxWidth.Large,
            CloseButton = true,
            DisableBackdropClick = true,
            Position = DialogPosition.Center,
            CloseOnEscapeKey = false,
        };
        var parameters = new DialogParameters<AddUserDialog>();
        parameters.Add<IEnumerable<Gender>>(x => x.Genders, Genders);

        DialogService.Show<AddUserDialog>("Dodaj użytkownika", parameters, options);
    }

}
